@media (max-width: 1000px) {
  /* main */
  .logo-right {
    width: 100%;
  }
  .main-left h1 {
    font-size: 35px;
    margin-bottom: 10px;
  }
  .main-left h3 {
    font-size: 28px;
    margin-top: 10px;
  }
  .main-left p {
    font-size: 14px;
    margin-top: 40px;
  }
  .btn button {
    margin-top: 60px;
    padding: 12px 24px;
    margin-right: 15px;
  }
  .social-icons img {
    height: 18px;
    margin: 0 10px;
  }
  /* body */
  .body-content .container h2 {
    font-size: 15px;
  }

  .body-content .container .list-item .list {
    width: 40%;
  }

  .bottom-body-content .container .question-content h2 {
    font-size: 15px;
    float: none;
    margin-bottom: 5px;
  }

  .bottom-body-content .container .see-all a {
    float: none;
    display: inline-block;
  }

  /* tutor */
  .content-tutor {
    display: flex;
    margin-top: 40px;
    height: 350px;
  }
  .logo-tutor {
    width: 80%;
    border-radius: 10px;
    margin-right: 100px;
  }
  .tutor-left h1 {
    font-size: 26px;
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 10px;
  }

  .tutor-left p {
    font-size: 14px;
    font-weight: 500;
    font-family: "Times New Roman", Times, serif;
    margin-right: 20px;
  }
}

@media (max-width: 670px) {
  .header-right .fa {
    display: block;
  }

  .navigation {
    display: none;
  }

  .navigation li {
    float: none;
    height: 60px;
  }

  .header-right input:checked ~ .navigation {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    text-align: left;
  }

  .nav {
    width: 100%;
    line-height: 60px;
  }
  /* Main */
  .main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .main-left {
    margin-left: 0px;
  }
  .main-left h1 {
    font-size: 38px;
    margin-bottom: 10px;
  }
  .main-left h3 {
    font-size: 24px;
    margin-top: 10px;
  }
  .main-left p {
    font-size: 14px;
    margin-top: 60px;
  }
  .btn button {
    margin-top: 60px;
    padding: 12px 24px;
    margin-right: 15px;
  }
  .social-icons img {
    height: 15px;
    margin: 0 10px;
  }
  .logo-right {
    width: 0%;
  }

  .search-box img {
    height: 30x;
    width: 50px;
    cursor: pointer;
  }

  /* Body */
  .body-content .container h2 {
    font-size: 15px;
  }

  .body-content .container .list-item .list {
    width: 80%;
  }

  .bottom-body-content .container .question-content h2 {
    font-size: 15px;
    float: none;
    margin-bottom: 5px;
  }

  .bottom-body-content .container .see-all a {
    float: none;
    display: inline-block;
  }

  .content-tutor {
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-bottom: 25px;
  }
  .logo-tutor {
    margin-top: 25px;
    margin-left: 34px;
    width: 90%;
    background-color: white;
  }
  .tutor-left {
    margin-left: 20px;
    width: 100%;
    flex-basis: 100%;
  }
  .tutor-left h1 {
    font-size: 22px;
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 10px;
    margin-left: 15px;
  }

  .tutor-left p {
    font-size: 16px;
    font-weight: 500;
    font-family: "Times New Roman", Times, serif;
    margin-left: 15px;
  }

  .bottom-body-content .container {
    padding: 20px;
    width: 100%;
    margin-left: 15px;
  }

  /* form */

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
