html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}
/* header */
header {
  height: 80px;
  width: 100%;
  background-color: rgba(113, 201, 206, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
  margin-left: 30px;
}

.logo {
  display: block;
  color: white;
  line-height: 80px;
  font-size: 30px;
  text-decoration: none;
  padding-right: 30px;
}

.header-right {
  float: right;
}

.navigation {
  list-style: none;
  text-align: center;
  margin: 0 30px 0 0;
  padding: 0;
  background-color: rgba(113, 201, 206, 0.9);
  font-size: 20px;
}

.navigation li {
  float: left;
  margin-right: 3px;
}

.nav {
  line-height: 80px;
  padding: 0 25px;
  color: white;
  transition: all 0.25s;
  display: inline-block;
  text-decoration: none;
}

.nav:hover {
  background-color: rgba(166, 227, 233, 0.7);
}

.header-right .fa {
  font-size: 30px;
  display: none;
}

.menu-icon {
  color: white;
  float: right;
  margin-right: 5px;
  padding: 25px;
  height: 30px;
  width: 30px;
  position: relative;
}

header input {
  display: none;
}

/* Main */
.main {
  display: flex;
  margin-top: 50px;
  padding-top: 100px;
}

.main-left,
.main-right {
  flex-basis: 50%;
}

.logo-right {
  width: 100%;
}

.main-left {
  margin-left: 100px;
}
.search-box {
  width: 45%;
  display: flex;
  padding-bottom: 3px;
  border-bottom: 1px solid #ddd;
}

.search-box img {
  height: 50x;
  width: 50px;
  cursor: pointer;
}

.search-box input {
  width: 100%;
  margin-left: 15px;
  font-size: 17px;
  border: 0;
  outline: none;
}

.main-left h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.main-left h3 {
  font-size: 36px;
  margin-top: 10px;
}
span {
  color: rgb(0, 255, 170);
}
.main-left p {
  font-size: 18px;
  margin-top: 60px;
}

.btn button {
  margin-top: 60px;
  padding: 18px 38px;
  margin-right: 20px;
  outline: none;
  border: 1px solid rgb(0, 255, 170);
  border-radius: 20px;
  cursor: pointer;
  color: rgb(0, 255, 170);
  background: transparent;
}

.btn .primary-btn {
  background-color: white;
}
.btn .second-btn {
  background-color: white;
}

.btn {
  margin-bottom: 60px;
}
.social-icons {
  width: 200px;
  text-align: center;
  opacity: 0.4;
  position: relative;
  margin-left: 160px;
}

.social-icons img {
  height: 20px;
  margin: 0 10px;
}
a:link {
  text-decoration: none;
}
.social-icons::after {
  content: "";
  width: 150px;
  height: 1px;
  background: #000;
  position: absolute;
  left: -160px;
  top: 10px;
}
