html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  overflow-x: hidden;
}
/* header */
header {
  height: 80px;
  width: 100%;
  background-color: rgba(113, 201, 206, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
  margin-left: 30px;
}

.logo {
  display: block;
  color: white;
  line-height: 80px;
  font-size: 30px;
  text-decoration: none;
  padding-right: 30px;
  font-weight: 700;
}

.logo span {
  color: #ffd667;
}

.header-right {
  float: right;
  font-weight: 700;
}

.navigation {
  list-style: none;
  text-align: center;
  margin: 0 30px 0 0;
  padding: 0;
  background-color: rgba(113, 201, 206, 0.9);
  font-size: 20px;
}

.navigation li {
  float: left;
  margin-right: 3px;
}

.nav {
  line-height: 80px;
  padding: 0 25px;
  color: white;
  transition: all 0.25s;
  display: inline-block;
  text-decoration: none;
}

.nav:hover {
  background-color: rgba(166, 227, 233, 0.7);
}

.header-right .fa {
  font-size: 30px;
  display: none;
}

.menu-icon {
  color: white;
  float: right;
  margin-right: 5px;
  padding: 25px;
  height: 30px;
  width: 30px;
  position: relative;
}

header input {
  display: none;
}

/* Main */
.main {
  display: flex;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-top: 100px;
}

.main-left,
.main-right {
  flex-basis: 50%;
}

.logo-right {
  width: 100%;
}

.main-left {
  margin-left: 100px;
}
.search-box {
  width: 45%;
  display: flex;
  padding-bottom: 3px;
  border-bottom: 1px solid #ddd;
}

.search-box img {
  height: 50x;
  width: 50px;
  cursor: pointer;
}

.search-box input {
  width: 100%;
  margin-left: 15px;
  font-size: 17px;
  border: 0;
  outline: none;
}

.main-left h1 {
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.main-left h3 {
  font-size: 36px;
  margin-top: 20px;
}
span {
  color: rgb(0, 255, 170);
}
.main-left p {
  font-size: 18px;
  margin-top: 60px;
}

.btn button {
  margin-top: 60px;
  padding: 18px 38px;
  margin-right: 20px;
  outline: none;
  border: 1px solid rgb(0, 255, 170);
  border-radius: 20px;
  cursor: pointer;
  color: rgb(0, 255, 170);
  background: transparent;
}

.btn .primary-btn {
  background-color: white;
}
.btn .second-btn {
  background-color: white;
}

.btn {
  margin-bottom: 60px;
}
.social-icons {
  width: 200px;
  text-align: center;
  opacity: 0.4;
  position: relative;
  margin-left: 160px;
}

.social-icons img {
  height: 20px;
  margin: 0 10px;
}
a:link {
  text-decoration: none;
}
.social-icons::after {
  content: "";
  width: 150px;
  height: 1px;
  background: #000;
  position: absolute;
  left: -160px;
  top: 10px;
}

footer {
  bottom: 0;
}

.footer-distributed {
  background-color: #3a8891;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/*********body style**********/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**************************************/

.body-content {
  width: 100%;
  background-color: rgb(237, 237, 237);
  font-family: sans-serif;
}

.body-content .container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.body-content .container h2 {
  margin-bottom: 20px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.body-content .container .list-item {
  width: 100%;
  text-align: center;
}

.body-content .container .list-item .list {
  width: 20%;
  margin: 0 10px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 5px rgba(0, 0, 0, 0.114);
  transition: all 0.5s;
}

.body-content .container .list-item .list:hover {
  background-color: rgb(172, 235, 143);
  cursor: pointer;
}

.body-content .container .list-item .list span,
.body-content .container .list-item .list ul {
  float: left;
  text-align: left;
}

.body-content .container .list-item .list .fa {
  margin-right: 10px;
  background-color: aquamarine;
  padding: 10px;
  border-radius: 20px;
}

.body-content .container .list-item .list .desc {
  font-weight: lighter;
  font-size: 10px;
  margin-top: 5px;
  color: rgb(167, 167, 167);
}

.bottom-body-content {
  width: 100%;
  font-family: sans-serif;
  border-top: 1px solid rgba(109, 109, 109, 0.397);
  border-bottom: 1px solid rgb(109, 109, 109, 0.397);
}

.bottom-body-content .container {
  padding: 20px;
  width: 100%;
  margin-left: 100px;
}

.bottom-body-content .container .question-content h2 {
  font-weight: bold;
  float: left;
  font-size: 20px;
}

.bottom-body-content .container .see-all a {
  float: right;
  font-weight: lighter;
  font-size: 15px;
  text-decoration: none;
  transition: linear 0.7s ease-in-out;
}

.see-all {
  margin-right: 310px;
}

.bottom-body-content .container .see-all a:hover {
  cursor: pointer;
  border-bottom: 2px solid;
}

.bottom-body-content .container .clear {
  clear: left;
}
/* tutor */
.content-tutor {
  display: flex;
  margin-top: 40px;
  height: 450px;
}

.logo-tutor {
  width: 80%;
  border-radius: 10px;
  margin-left: 40px;
}
.tutor-left,
.tutor-right {
  flex-basis: 50%;
}
.tutor-left {
  margin-left: 100px;
}

.tutor-right {
  justify-content: center;
}
.tutor-left h1 {
  font-size: 38px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 20px;
}
.tutor-left p {
  font-size: 18px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  margin-right: 20px;
}

/* form */

.form {
  display: flex;
  justify-content: center;
  height: 600px;
  background-color: rgb(237, 237, 237);
}
.form-content {
  background-color: rgba(113, 201, 206, 0.9);
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 50px;
  height: 500px;
  padding: 20px;
  width: 400px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.input1 {
  background-color: white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 150%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: rgba(113, 201, 206, 0.9);
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.input1:focus ~ .cut,
.input1:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}
.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: white;
}
.input1:focus ~ .placeholder,
.input1:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input1:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}
.input1:focus ~ .placeholder {
  color: white;
}
/*BAGIAN FORM*/

.contact-form {
  margin: 250px auto;
  width: 400px;
  padding: 5px;
}

.submit {
  background-color: white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #808097;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}

.title-form {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a:hover {
  color: #000;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #000;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
}

.footer-distributed .footer-center p a:hover {
  color: #ffffff;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #000;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: #3f71ea;
}

.footer-links a:hover {
  color: #3f71ea;
}
